@use "sass:selector";
@use "../utils" as *;

.card {
  &__img {
    &-container {
      margin-bottom: 14px;
      @include up(sm) {
        margin-bottom: 18px;
      }
    }
  }

  &__meta {
    &-data {
      margin-bottom: 2px;
    }
  }

  &__title {
    display: inline-block;
    font-size: 12px;
    line-height: lh-number(24, 32);
    font-weight: 500;
    text-transform: uppercase;

    @include set-prop-value-different-bp(
      font-size,
      (12px, 14px, 16px, 20px, 24px),
      (
        xs: 0,
        md: 767px,
        lg: 991px,
        xl: 1199px,
        xxl: 1399px,
      )
    );

    border: {
      bottom: var(--border-main);
    }
  }

  @at-root #{selector.nest(selector.append(&, "--big"), ".card__title")} {
    //37
    font-size: 16px;
    @include up(sm) {
      font-size: 20px;
    }
    @include up(md) {
      font-size: 24px;
    }
    @include up(lg) {
      font-size: 37px;
    }
    line-height: lh-number(37, 44.99);
  }

  @at-root #{selector.nest(selector.append(&, "--small"), ".card__title")} {
    line-height: lh-number(19px, 25px);
    @include set-prop-value-different-bp(
      font-size,
      (12px, 14px, 16px, 19px),
      (
        xs: 0,
        md: 767px,
        lg: 991px,
        xl: 1399px,
      )
    );
  }
}
